{% extends "base.html" %}
{% load static %}
{% static "img" as baseUrl %}

{% block title %}
Matériels de
{% for secteur in secteurs %}
 {{secteur.nom}} |
{% endfor %}
en Algérie
{% endblock title %}
{% block staticfiles %}
<link rel="stylesheet" href="{% static 'css/added.css' %}">
{% endblock staticfiles %}

{% block content %}

<center><h1 class="m-5 text-danger"> Quel produit cherchez-vous ?</h1> </center>



<!-- listes des produits  -->
<div id="produits" class="container">
    {% if produits %}
    {% if produits.all %}
      
    <h2 class="text-center text-danger mb-4">Tous les produits {{q}}</h2>
    {% endif %}
        <div class="row ">
            {% for produit in produits %}
                <div class="col- col-sm-4 col-lg-3 my-2 d-block">
                    <div class="card border border-danger h-100">
                        <a href="{% url 'produit_detail' produit.slug %} ">
                            <div class="d-flex">
                                <img class="ml-auto mr-auto mt-3" src="{{produit.image.url}}" height="100" alt="{{produit.nom}}">
                            </div>
                            <div class="m-3">
                                <footer>
                                    <h6 class="text-center">{{produit.nom}}</h6>
                                </footer>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

            {% else %}
                <h3>Pas de produit</h3>
            {% endif %}
    </div>
</div>
{% include "_pagination.html" %}

{% endblock %}
